<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>EventManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PresetController</servlet-name>
    <servlet-class>servlet.PresetController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PresetController</servlet-name>
    <url-pattern>/PresetController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomController</servlet-name>
    <servlet-class>servlet.CustomController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomController</servlet-name>
    <url-pattern>/CustomController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserController</servlet-name>
    <servlet-class>servlet.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ItemController</servlet-name>
    <servlet-class>servlet.ItemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemController</servlet-name>
    <url-pattern>/ItemController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>servlet.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
</web-app>